@font-face {
  font-family: "Greycliff";
  src: url("~/assets/fonts/GreycliffCF-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff";
  src: url("~/assets/fonts/GreycliffCF-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff";
  src: url("~/assets/fonts/GreycliffCF-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff";
  src: url("~/assets/fonts/GreycliffCF-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

$font-family-sans-serif: "Greycliff", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$primary: #f95050;
$secondary: #51a7d9;
$warning: #fddb83;
$light: #f5f5f5;
$dark: #000;
$text-light: #757575;

$spacer: 1rem;

$spacers: (
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 6,
  ),
  8: (
    $spacer * 7,
  ),
  9: (
    $spacer * 8,
  ),
  10: (
    $spacer * 9,
  ),
);

$input-padding-x: 1.25rem;
$input-padding-y: 0.75rem;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;

$btn-padding-x-lg: 1.25rem;
$btn-padding-y-lg: 0.75rem;
$btn-font-size-lg: 1rem;

$border-radius: 4px;

$input-btn-focus-color: #000;
$input-btn-focus-box-shadow: none;

// HELPERS

*::selection {
  background-color:rgba(255,0,0,0.1)
}

.cursor-pointer {
  cursor: pointer;
}
