.m-btn {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.m-btn-align-left {
    justify-content: flex-start;
  }

  &:focus {
    text-decoration: none;
  }

  &.m-btn-toggle {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .m-btn-icon {
    font-size: 16px;
    margin-right: 12px;
    flex-shrink: 0;
    border: 0;
  }

  &.btn-cart,
  &.btn-location {
    background-color: #f5f5f5;
  }

  &.btn-cart.btn-primary {
    background-color: $primary;
  }

  &.btn-location {
    color: $primary;
  }

  &.btn-link {
    color: #000;
    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }

  .m-btn-label {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.m-btn-action,
.btn-m-btn-action {
  padding: 0;
  font-size: 48px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-sidebar-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
