.m-input {
	position: relative;

	.m-input-field {
		height: 40px;

		&:focus {
			border-color: #777;
		}
	}

	&.lg .m-input-field {
		height: 56px;
	}

	&.md .m-input-field {
		height: 50px;
	}

	.m-btn-icon {
		font-size: 24px;
		position: absolute;
		top: 8px;
	}

	.m-btn-icon-prepend-text {
		font-size: 1rem;
		position: absolute;
		top: 8px;
		font-weight: 500;
		user-select: none;
	}

	&.lg .m-btn-icon {
		top: 16px;
	}

	&.prepend-text {
		.m-input-field {
			padding-left: 40px;
		}
		.m-btn-icon-prepend-text {
			left: 12px;
		}
		&.lg .m-input-field {
			padding-left: 56px;
		}
		&.lg .m-btn-icon-prepend-text {
			top: 16px;
			left: 24px;
		}
		&.md .m-input-field {
			padding-left: 50px;
		}
		&.md .m-btn-icon-prepend-text {
			top: 13px;
			left: 20px;
		}
	}

	&.prepend {
		.m-input-field {
			padding-left: 40px;
		}
		.m-btn-icon-prepend {
			left: 8px;
			top: 8px;
		}
		&.lg .m-input-field {
			padding-left: 56px;
		}
		&.lg .m-btn-icon-prepend {
			left: 16px;
			top: 16px;
		}
		&.md .m-input-field {
			padding-left: 50px;
		}
		&.md .m-btn-icon-prepend {
			left: 13px;
			top: 13px;
		}
	}

	&.append {
		.m-input-field {
			padding-right: 40px;
		}
		.m-btn-icon-append {
			right: 8px;
		}
		&.lg .m-input-field {
			padding-right: 56px;
		}
		&.lg .m-btn-icon-append {
			top: 16px;
			right: 16px;
		}
		&.md .m-input-field {
			padding-right: 50px;
		}
		&.md .m-btn-icon-append {
			top: 13px;
			right: 13px;
		}
	}
}

.m-dropdown {
	position: relative;

	.m-dropdown-suggestions {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: 240px;
		overflow: auto;
		background-color: #fff;
		border-radius: $border-radius;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

		/* width */
		::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}

	.m-dropdown-suggestion {
		display: block;
		cursor: pointer;
		padding: 0.75rem;
		font-size: 0.8rem;

		&:hover {
			background-color: $primary;
			color: #fff;
		}
	}
}

.is-invalid input {
	border: 1px solid $danger;
}