.modal-xxl {
	max-width: 100%;
	margin: 0;

	.modal-header {
		border-bottom: none;
	}

	.modal-footer {
		border-top: none;
	}

	.modal-content {
		min-height: 100vh;
		border-radius: 0;
		border: none;
	}
}

.modal-backdrop {
	opacity: 0.7;
}

.modal.fade .modal-dialog.modal-prompt {
	transform: translate(0, 50px);
}

.modal.fade.show .modal-dialog.modal-prompt {
	transform: none;
}

.modal-prompt {
	position: absolute;
	bottom: 0;
	margin: 0;
	max-width: unset;
	width: 100%;

	.modal-content {
		border-radius: 8px 8px 0 0;
	}
}