.modal-xxl {
	max-width: 100%;
	margin: 0;

	.modal-header {
		border-bottom: none;
	}

	.modal-footer {
		border-top: none;
	}

	.modal-content {
		height: 100vh;
		border-radius: 0;
		border: none;
	}
}
