.swiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  user-select: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

// WITH BLUE NAV BUTTONS
.swiper-categories,
.swiper-products {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0;
    background-color: #fff;
    border: 1px solid $secondary;
    top: calc(-40px - 1.25rem);
    color: $secondary;

    &:hover {
      color: #fff;
      background-color: $secondary;
    }
  }

  .swiper-button-prev {
    left: unset;
    right: calc(40px + 1rem);
  }
  .swiper-button-next {
    right: 0;
  }
}

// WITH RED NAV BUTTONS
.swiper-yummies {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -20px;
    background-color: $primary;
    color: $white;
  }

  .swiper-button-prev {
    left: 0;
    margin-left: -20px;
  }
  .swiper-button-next {
    right: 0;
    margin-right: -20px;
  }
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin-left: 3px;
  margin-right: 3px;
  background: rgba(0, 0, 0, 0.45);
}

.swiper-pagination-bullet-active {
  background: $primary;
}
