h1,
h2 {
  font-weight: bold;
  letter-spacing: -2px;
}

label {
  font-weight: 600;
}

.hrh {
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";
    display: flex;
    flex-grow: 1;
    background-color: #e4d9d9;
    height: 1px;
  }

  &::before {
    margin-right: 0.5rem;
  }

  &::after {
    margin-left: 0.5rem;
  }
}
